{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@typescript-eslint", "import", "react-hooks"],
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "warn",
    "react/prop-types": "off",
    "no-unused-vars": "warn",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "@typescript-eslint/object-curly-spacing": [
      "warn",
      "never",
      {
        "objectsInObjects": true
      }
    ],
    "@typescript-eslint/comma-dangle": ["warn", "never"],
    "semi": ["warn", "always"],
    "prefer-const": "warn",
    "no-var": "error",
    "no-new-object": "warn",
    "object-shorthand": "warn",
    "quote-props": [
      "warn",
      "as-needed",
      {
        "unnecessary": true
      }
    ],
    "no-prototype-builtins": "warn",
    "no-array-constructor": "warn",
    "array-callback-return": "warn",
    "prefer-object-spread": "warn",
    "prefer-destructuring": "warn",
    "quotes": ["warn", "single"],
    "prefer-template": "warn",
    "template-curly-spacing": ["warn", "never"],
    "no-eval": "warn",
    "no-useless-escape": "warn",
    // "func-style": ["warn","declaration"],
    "wrap-iife": "error",
    "no-loop-func": "error",
    "prefer-rest-params": "error",
    "default-param-last": "off",
    "no-new-func": "error",
    // "space-before-function-paren": "warn",
    "space-before-blocks": "warn",
    "no-param-reassign": "off",
    "prefer-spread": "warn",
    //    "function-call-argument-newline": ["warn", "never"],
    "prefer-arrow-callback": "error",
    "arrow-spacing": "warn",
    "arrow-parens": "warn",
    "arrow-body-style": "warn",
    "no-confusing-arrow": "warn",
    "implicit-arrow-linebreak": "warn",
    "no-useless-constructor": "error",
    "no-dupe-class-members": "error",
    "class-methods-use-this": "error",
    "no-duplicate-imports": "error",
    "import/no-mutable-exports": "error",
    "import/prefer-default-export": ["off"],
    "import/first": "warn",
    "object-curly-newline": [
      "warn",
      {
        "multiline": true
      }
    ],
    "import/no-webpack-loader-syntax": "warn",
    "generator-star-spacing": ["warn", "after"],
    "dot-notation": "error",
    "no-restricted-properties": "warn",
    //    "no-undef": "warn",
    // "one-var": ["error", "never"],
    "no-multi-assign": "error",
    "no-plusplus": "warn",
    "operator-linebreak": "warn",
    "eqeqeq": "warn",
    "no-case-declarations": "error",
    "no-nested-ternary": "error",
    "no-unneeded-ternary": "error",
    "no-mixed-operators": "error",
    "nonblock-statement-body-position": "error",
    "brace-style": "warn",
    "no-else-return": "error",
    "spaced-comment": "warn",
    "indent": ["off"],
    "keyword-spacing": "warn",
    "space-infix-ops": "warn",
    "eol-last": "warn",
    "newline-per-chained-call": "warn",
    "no-whitespace-before-property": "warn",
    "padded-blocks": ["warn", "never"],
    "no-multiple-empty-lines": [
      "warn",
      {
        "max": 2
      }
    ],
    "space-in-parens": "warn",
    "array-bracket-spacing": "warn",
    "object-curly-spacing": [
      "warn",
      "never",
      {
        "objectsInObjects": true
      }
    ],
    "block-spacing": "warn",
    "comma-spacing": "warn",
    "computed-property-spacing": "warn",
    "func-call-spacing": "warn",
    "key-spacing": "warn",
    "no-trailing-spaces": "warn",
    "@typescript-eslint/indent": ["warn", 2],
    "comma-style": "warn",
    "comma-dangle": ["warn", "never"],
    "no-new-wrappers": "warn",
    "radix": ["warn", "always"],
    "new-cap": "warn",
    "react/jsx-one-expression-per-line": "warn",
    "react/self-closing-comp": "warn",
    "no-debugger": "warn",
    "jsx-a11y/interactive-supports-focus": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "require-yield": "warn",
    "react/jsx-indent": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/jsx-props-no-spreading": "off"
  }
}
